.weather-form {
    display: flex;
    flex-direction: column;
    margin-top: 4.4%;
}

.weather-form-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.weather-ok-btn {
    color: black;
    background-color: limegreen; 
    vertical-align: bottom;
    width: 103.05px;
}

.weather-element {
    margin: 0.6%;
}

.box h1 {
	text-align: center;
	position: relative;
	top: 10px;
}
.box {
	width: 60%;
	height: 140px;
	background: #FFF;
	margin: 40px auto;
}

.weather-main-text {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.weather-main-text:before, weather-main-text:after {
	content: "";
    position: absolute; 
    z-index: -1;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
} 
.weather-main-text:after {
    right: 10px; 
    left: auto; 
    transform: skew(8deg) rotate(3deg);
}

.weather-text {
    margin: 4%;
    text-align: center;
}

.weather-error-result h3 {
    color: red;
    text-align: center;
}