<div class="container body-content">
    <div class="weather-form">
        <div class="weather-form-child">
            <div class="weather-main-text box">
                <div><h1>Configure this weather service</h1></div>
                <div class="weather-text"><h4>Here you can customize the weather service for yourself</h4></div>
            </div>
        </div>
        <form>
            <div class="weather-form-child">
                <div class="weather-element">
                    <h4>Input city:</h4>
                    <input list="cities" name="cityName" [(ngModel)]="cityToAdd" required placeholder="City" class="form-control" />
                </div>
                <div class="weather-element">
                    <h4>Add city:</h4>
                    <input type="submit"  (click)="addCity(cityToAdd)" name="configAction" value="Add" class="btn weather-add-btn" />
                </div>
            </div>
        </form>
        <div class="weather-form-child">
            <ul class="list-group city-list">
                <div *ngFor="let city of _cityList">
                    <form>
                        <li class="list-group-item">
                            <div class="delete-city-form">
                                <div class="delete-city-form-child"><h4>{{city.Name}}</h4></div>
                                <div class="delete-city-form-child">
                                    <input type="submit" (click)="deleteCitiesWithName(city.Name)" value="Delete" class="weather-delete-btn">
                                </div>
                            </div>
                        </li>
                    </form>
                </div>
            </ul>
        </div>
    </div>
    <div *ngIf="_error">
        <div class="weather-error-result"><h3>{{ _error }}</h3></div>
    </div>
</div>